@model List<Asp.Models.Empleado>
@{
    ViewBag.Title = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado</h2>


<table class="table table-hover">
    <thead>
    <th>
        Nombre

    </th>
    <th>
        Direccion

    </th>


    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEmpleado</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>
                    @Html.ActionLink("Eliminar","Delete", new { id = item.IdEmpleado }, new { @class = "btn btn-danger" });  @*esto como que nostros tengamos la etiqueta <a></a>de html pero ubicada acada en razor la cual sirve para hacer una peticion*@
                
                
                </td>

            </tr>



        }




    </tbody>



</table>
